html {
    font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: row wrap;
	
}

body {
    font-size: 1em;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: row wrap;
	width: 90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}




h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    
}

/*The widths are in a percentage!*/
header {
	
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: row wrap;
	width: 90%;
}

header h1 {
	
	margin: 0;
	padding: 20px 0;
	

	
}

header h1 {
	border-bottom: 3px solid #77a466;
	

}

header h1 span {
	color: #77a466;
}

header nav {
	
	padding: 10px 0;
	
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 10px;
	display:flex;
	justify-content: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
  	
  	align-items: center;
	flex-flow: row wrap;
	width: 90%;
	
}

.main-image {
	height: auto;
	
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	
	border-top: 1px solid #eee;
	width: 90%;
}

.section-one h3 {
	
}

.section-two {
	
}

.section-two h3,
.section-three h3 {
	
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: row wrap;
	width: 90%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}
